@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding-top: 20px; /* Ajustar la altura del encabezado */
}

header b {
  color: #000; /* Color de texto negro */
  opacity: 0.8;
}

h1,
b {
  margin: 0; /* Eliminar el margen por defecto */
}
body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

#image {
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#img-caption {
  margin-top: 10px;
  text-align: center;
}

h2 {
  text-align: center;
}

ul,
p {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 15px 0;
}

.year {
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

#frase {
  margin-bottom: 0;
  font-style: italic;
}

ul {
  margin-bottom: 25px;
}
